*
{
	margin:0;
	padding:0; 
}

body
{
	background:#D9D8D8;
	font-family:Verdana; 
}

header,.main,footer
{
	width:85%; /*tamaño de la pagina en cualquier maquina*/
	max-width:1000px;  /*tamaño maximo en esta pagina*/
	margin:20px auto; /*margen entre bloques header,main y footer*/   
}

header nav
{
	background:#528FD5; 
	overflow:hidden; /*limpia los float left*/
}

header nav ul
{
	list-style:none;
}

header nav ul li
{
	float:left;
}

header nav ul li a
{
	padding:10px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover
{
	background:#75ACEC;
}
.main
{
	background:#ABA9A9;
}

.main .articles
{
	width:70.4%;
	margin-right:1.5%; 
	float: right;
}

aside
{
	width:25.6%;
	background:#D9D8D8;
	float:left;
	
}

footer
{
	background:#000;
	color:#fff;
	clear:both;
	padding:10px 0px;
	text-align:center;
	position:relative;
	top:15px; 
	bottom:0px;
	right:0px;
	left:0px;
}

.cajaAgenda
{
	position:relative;
	top:500px; 
	bottom:0px;
	right:0px;
	left:0px;
}

#roomsBody
{
	background-image: url("../img/intro-bg.jpg");
	background-repeat: "no-repeat";
	background-size: cover;
}

#mainRoomsPanel
{
	position: absolute;
	margin: 0 auto;
	margin-top: 40px;
	left: 0;
	right: 0;
	width: 70%;
	height: 90%;
	background-color: white;
	z-index:100;
}

#roomsContainer
{
	flex: 1;
}

.room
{

}












